.card-container {
  //   border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card-item-container {
    // border: 1px solid gray;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 21rem;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    transition: 0.3s ease-in;

    .card-image {
      display: flex;
      width: 100%;
      border-radius: 10px;
    }
  }

  .card-item-container:hover {
    cursor: pointer;
    box-shadow: 0px 3px 15px gray;
    transform: scale(1.01);
    transition: 0.3s ease-in;
  }
}

@media screen and (max-width: 766px) {
  .card-container {
    // border: 1px solid red;
    justify-content: space-around;
  }
}
