.hero-container {
  margin: 2rem 0 7rem 0;

  .hero-img-container {
    background-color: var(--color-banner);
    width: 100%;
    height: 40rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;

    .hero-img-sub-container {
      width: 33.333%;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      height: 100%;
    }
  }
}
